# Maven 관련 파일
target/
*.log
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.tar

# Eclipse IDE 관련 파일
/.project
/.classpath
/.settings/
bin/

# IntelliJ IDEA 관련 파일
.idea/
*.iml

# MacOS 관련 파일
.DS_Store

# Windows 관련 파일
Thumbs.db

# Log 파일
*.log

# 
*PriSec.properties
