/* 알림 드롭다운 스타일*/
.header__logo {
	width: 200px;
	margin-left: 100px;
}

.header__right {
    text-align: right;
    padding: 30px 0 27px;
    margin-top: 30px;
    margin-right: 50px;
}

.header__menu {
    padding: 30px 0 27px;
    margin-top: 16px;
}

#notification-dropdown {
	display: none;
	position: absolute;
	top: 100px;
	right: 0;
	margin-right: 20px;
	width: 300px;
	max-height: 500px;
	overflow-y: auto;
	background: white;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 10px;
	z-index: 1000;
}

.notification-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid #ddd;
}

#mark-all-read {
	background-color: #f1f1f1;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
}

.notification {
	padding: 10px;
	border-bottom: 1px solid #ddd;
	cursor: pointer;
}

.notification:last-child {
	border-bottom: none;
}

.notification:hover {
	background-color: #f0f0f0;
}

#notification-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

#notification-list li {
	display: block;
	padding: 1px;
	border-bottom: 1px solid #eee;
	cursor: pointer;
	margin: 0;
}

#notification-list li:hover {
	background: #f5f5f5;
}

.notification-item {
	padding: 10px;
	margin: 5px 0;
	border-radius: 5px;
	animation: fadeIn 0.5s ease-in-out;
}

.notification-item p {
	margin: 0;
	font-size: 14px;
}

.unread {
    position: relative;
    padding-left: 15px; 
}

.unread::before {
	content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: blue;
    border-radius: 50%;
}

.read::before {
	content: '';
}

.notification small {
	font-size: 12px;
	color: #999;
}

.check-box-container input {
	margin-left: 5px;
}