<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.barobaro.app.mapper.KeywordMapper">
	<resultMap id="keywordMap" type="com.barobaro.app.vo.KeywordVO">
		<id property="keywordSeq" column="keyword_seq"/>
		<result property="contents" column="contents"/>
		<result property="userSeq" column="user_seq"/>
	</resultMap>

	<!-- 키워드 등록 -->
	<insert id="insertKeyword" parameterType="com.barobaro.app.vo.KeywordVO">
		 INSERT INTO keyword (keyword_seq, user_seq, contents)
        VALUES (keyword_seq.nextval, #{userSeq}, #{contents})
	</insert>
	
	<!-- 키워드 조회 (userSeq 기준) -->
	<select id="selectKeywordByUserSeq" parameterType="int" resultMap="keywordMap">
		SELECT keyword_seq, user_seq, contents 
        FROM keyword 
        WHERE user_seq = #{userSeq}
	</select>
	
	 <!-- 특정 키워드 조회 -->
    <select id="selectKeywordBySeq" parameterType="int" resultMap="keywordMap">
        SELECT keyword_seq, user_seq, contents 
        FROM keyword 
        WHERE keyword_seq = #{keywordSeq}
    </select>
    
    <!-- 모든 사용자의 키워드 조회 -->
    <select id="selectAllKeywords" resultMap="keywordMap">
    	SELECT user_seq, contents
    	FROM keyword
    </select>
	
	<!-- 키워드 수정 -->
    <update id="updateKeyword">
        UPDATE keyword 
        SET contents = #{contents} 
        WHERE keyword_seq = #{keywordSeq}
    </update>

    <!-- 키워드 삭제 -->
    <delete id="deleteKeyword" parameterType="int">
        DELETE FROM keyword 
        WHERE keyword_seq = #{keywordSeq}
    </delete>
</mapper>