<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.barobaro.app.mapper.ReservationMapper">

<!--  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 예약 히스토리 테이블 (RESERVATION_HISTORY) ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->

    <!-- 예약을 요청 상태(STATUS=1)로 등록 -->
    <insert id="requestReservation">
        INSERT INTO RESERVATION_HISTORY( RESERVATION_SEQ, CREATED_AT, UPDATED_AT, STATUS, TIME_SLOT_SEQ )
		VALUES ( RESERVATION_HISTORY_SEQ.NEXTVAL, SYSDATE, SYSDATE, 1, #{time_slot_seq} )
    </insert>
	
	<!-- 예약을 수락 상태(STATUS=2)로 변경 -->
	<update id="acceptReservation">
		UPDATE RESERVATION_HISTORY
		SET STATUS = 2, UPDATED_AT = SYSDATE
		WHERE RESERVATION_SEQ = #{reservation_seq}
    </update>
    
	<!-- 예약을 거절 상태(STATUS=3)로 변경 -->
	<update id="refuseReservation">
		UPDATE RESERVATION_HISTORY
		SET STATUS = 3, UPDATED_AT = SYSDATE
		WHERE RESERVATION_SEQ = #{reservation_seq}
	</update>
	
	<!-- 예약을 취소요청 상태(STATUS=4)로 변경 -->
	<update id="cancleRequest">
		UPDATE RESERVATION_HISTORY
		SET STATUS = 4, UPDATED_AT = SYSDATE
		WHERE RESERVATION_SEQ = #{reservation_seq}
	</update>
	
	<!-- 예약 취소요청 수락 상태(STATUS=5)로 변경 -->
	<update id="cancleAccept">
		UPDATE RESERVATION_HISTORY
		SET STATUS = 5, UPDATED_AT = SYSDATE
		WHERE RESERVATION_SEQ = #{reservation_seq}
	</update>

	
	<!-- 거래 완료 상태(STATUS=6)로 변경 -->
	<update id="done">
		UPDATE RESERVATION_HISTORY
		SET STATUS = 6, UPDATED_AT = SYSDATE
		WHERE RESERVATION_SEQ = #{reservation_seq}
	</update>
    
    
<!--  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 대여타임 테이블 (RENT_TIME_SLOT) ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ -->
    
	<!-- 타임슬롯을 예약가능 상태(STATUS = 1)로 변경 -->
	<update id="updateStatusAvailableByReservationSeq">
			UPDATE RENT_TIME_SLOT
			SET STATUS = 1
			WHERE TIME_SLOT_SEQ = ( SELECT TIME_SLOT_SEQ
							        FROM RESERVATION_HISTORY
							        WHERE RESERVATION_SEQ = #{reservation_seq}
		    						)
	</update>
	
	<!-- 타임슬롯을 예약가능 상태(STATUS = 1)로 변경 -->
	<update id="updateStatusAvailableByTimeSlotSeq">
			UPDATE RENT_TIME_SLOT
			SET STATUS = 1
			WHERE TIME_SLOT_SEQ = #{time_slot_seq}
	</update>
	
	<!-- 타임슬롯을 예약 불가능 상태(STATUS = 2)로 변경 -->
    <update id="updateStatusUnavailable">
			UPDATE RENT_TIME_SLOT
			SET STATUS = 2
			WHERE TIME_SLOT_SEQ = #{time_slot_seq}
    </update>
</mapper>